scikit-image
torchvision
torch
pillow
numpy 
pandas
scipy 
openai
requests
bert-score
nltk
torchmetrics
torchvision
opencv-python
sentence-transformers
transformers
diffusers
open-clip-torch
shortuuid
bs4
selenium
black